<%- include('partials/header') -%>



<div class="div1">
    <h1>Contact</h1>
    <p> <%= EJS_CONTACT_P %></p>
    <img src="Suvam.png" alt="" class="Simage">
</div>

<%- include('partials/footer') -%>